<div class="well tabAnim">
     <div class="row">
       <a ui-sref="administrateur.new" class="btn btn-xs btn-success  pull-right"><i class="glyphicon glyphicon-plus"> </i></a>
    </div><br/>
    <form class="form-inline">
        <div class="form-group">
            <label>Search:</label> 
            <input type="text" class=" form-control" ng-model="search"/>
        </div>
    </form>
    <table class="table table-striped table-bordered">
        <b><center> Table Administrateur </center></b> 
        <thead>
            <tr class="panel-heading ">
                <th class="text-center">Nom</th>
                <th class="text-center">Email</th>
                <th class="text-center">Delete</th>
                <th class="text-center">Edit</th>
                <th class="text-center">Detail</th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="item in vm.administrateurs|itemsPerPage:5|filter:search">
                <td class="text-center">{{item.name}}</td>
                <td class="text-center">{{item.email}}</td>
                <td class="text-center">
                    <button  class="btn btn-xs btn-primary btn-danger" ui-sref="administrateur.delete({id:item.id})">
                        <i  class="glyphicon glyphicon-trash"></i>
                        
                    </button>
                </td>
                <td class="text-center">
                    <button  class="btn btn-xs btn-info" ui-sref="administrateur.edit({id:item.id})"><i class="glyphicon glyphicon-edit"></i>
                        
                    </button>
                </td>
                <td class="text-center">
                    <button  class="btn btn-xs btn-warning" ui-sref="administrateur.detail({id:item.id})"><i class="glyphicon glyphicon-print"></i>
                       
                    </button>
                </td>
            </tr>
        </tbody>
        <dir-pagination-controls
                max-size="5"
                direction-links="true"
                boundary-links="true">

        </dir-pagination-controls>
    </table>
</div>
