<div class=" well tabAnim"><br/>
    <form class="form-inline">
        <div class="form-group">
            <label>Search:</label> 
            <input type="text" class=" form-control" ng-model="search"/>
        </div>
    </form>
    <table class="table table-striped table-bordered table-responsive table-condensed">
        <b><center>Home</center></b>
        <thead class="popover-content">
            <tr class="panel-heading">
                <th class="text-center">Batiment</th>
                <th class="text-center">Vlan</th>
                <th class="text-center">@ IP  / 24</th>
                <th class="text-center">@ utilisables</th>
                <th class="text-center">@ Broadcast</th>
            </tr>
        </thead>
        <tbody>
<!--            <tr ng-repeat="item in vm.batiments">
                <td class="text-center">{{item.id}}</td>
                <td class="text-center">{{item.name}}</td>
                <td class="text-center">{{item.position}}</td>
            </tr>-->
        </tbody>
    </table>
</div>

