<div class="well-lg ">
	<div class="row">
            <div class="col-lg-2">
                <img src="../images/logo_camtel.gif" class="image-logo"/>
            </div>
            <h1 class="text-center text col-lg-8 pull-left"><b>WELCOME TO IPAM CAMTEL</b></h1>
            <div class="col-lg-2">
                <img src="../images/logo_camtel.gif" class="image-logo1"/>
            </div>
            
<!--            <div class="col-lg-11">
                <nav class="navbar navbar-default" role="navigation">
                  <ul class="navbar navbar-nav ">
                    <li ng-class="{ active:isSet(1) }">
                        <a href  ng-click="onclickBuilding()">Building</a>
                    </li>
                    <li ng-class="{ active:isSet(2) }">
                        <a href  ng-click="onclickAutre()">Autre entite</a>
                    </li>
                </ul>
                </nav>
            </div >-->
	</div>
<!--	<div class="text-center row">
            <label  > <marquee><h4>{{information}}</h4> </marquee></label>
	</div>-->
    
</div>
