<div class="panel-body well tabAnim">
    <div class="row">
        <button class="btn btn-success col-lg-1" ng-click="fetchAllUsers()"><i class="glyphicon glyphicon-refresh"> </i>Refresh</button>
        <a ui-sref="user.new" class="btn btn-success col-lg-1 pull-right"><i class="glyphicon glyphicon-plus"> </i>New</a>
    </div><br/>
    <div class="row">
        <label class="col-lg-1">Research:&nbsp; &nbsp;</label> 
        &nbsp;<input type="text" class="col-lg-2 "/>
    </div>
    <table class="table table-striped table-bordered table-responsive table-condensed">
        <b><center>Users Table</center></b>
        <thead class="popover-content">
            <tr class="panel-heading btn-primary">
                <th class="text-center">Matricule</th>
                <th class="text-center">FirstName</th>
                <th class="text-center">LastName</th>
                <th class="text-center">Sexe</th>
                <th class="text-center">Post</th>
                <th class="text-center">Delete</th>
                <th class="text-center">Edit</th>
                <th class="text-center">Detail</th>
                
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.users">
                <td class="text-center">{{item.matricule}}</td>
                <td class="text-center">{{item.firstName}}</td>
                <td class="text-center">{{item.lastName}}</td>
                <td class="text-center">{{item.sexe}}</td>
                <td class="text-center">{{item.poste}}</td>
                <td class="text-center">
                    <button  class="btn btn-xs btn-primary btn-danger" ui-sref="user.delete({matricule:item.matricule})"> <i  class="glyphicon glyphicon-trash"></i>
                        Delete
                    </button>
                </td>
                <td>
                    <button  class="btn btn-xs btn-info" ui-sref="user.edit({matricule:item.matricule})"><i class="glyphicon glyphicon-edit"></i>
                        Edit
                    </button>
                </td>
                <td>
                    <button  class="btn btn-xs btn-warning" ui-sref="user.detail({matricule:item.matricule})"><i class="glyphicon glyphicon-print"></i>
                        detail
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

